/*#region HEADER */
#header {
  background-color: #fff;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
#header .container-xl {
  padding: 0;
}
#header.fixed-top {
  height: 70px;
  border-bottom: none;
}
#header .navbar-brand i,
#header .navbar-brand span {
  color: #dc4f72;
  font-weight: 700;
  font-size: 26px;
}
#menuHeader .nav-item .nav-link.active {
  color: #dc4f72;
}
#menuHeader .nav-item {
  padding: 0 15px;
}
#menuHeader .nav-item .nav-link {
  padding: 14px 0;
  transition: all 0.5s ease;
  color: #333;
  font-weight: 400;
}
#menuHeader .nav-item .dropdown-menu {
  padding: 16px 0 4px;
}
#menuHeader .nav-item .dropdown-item {
  position: relative;
  font-weight: 400;
  position: relative;
  padding-top: 0;
  padding-bottom: 14px;
}
#menuHeader .nav-item .dropdown-item:hover {
  background-color: transparent;
  color: #dc4f72;
}
#menuHeader .nav-item .nav-link::before,
#menuHeader .nav-item .dropdown-item::before {
  position: absolute;
  content: "";
  background: #dc4f72;
  width: 0px;
  height: 2px;
  bottom: 13px;
  transition: all 0.5s;
}
#menuHeader .nav-item .nav-link:hover::before,
#menuHeader .nav-item .dropdown-item:hover::before {
  width: 20px;
}
#menuHeader .nav-item .btn {
  transition: 0.3s ease-out;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin-left: 16px;
  padding: 0px 30px;
  text-transform: uppercase;
  color: #dc4f72;
  border-color: #dc4f72;
}
#menuHeader .nav-item .btn:hover {
  color: white !important;
  background-color: #dc4f72;
}
#menuHeader .nav-item:hover .nav-link {
  color: #dc4f72;
}
#menuHeader .dropdown-menu {
  position: absolute;
  left: -50px;
}
#menuHeader .dropdown-menu:before {
  content: "";
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}
/*#endregion */
/*#region CAROUSEL*/
.master__banner {
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  background-color: #fff;
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.banner__img img {
  transform: rotate(180deg);
}
